body {
    background-color: #81BED9;
}

.timer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    background-color: #D4D981;
    width: 10%;
    height: 50px;
}

.body {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    background-color: #D98196;
    width: 50%;
    height: 500px;
    border-radius: 10px;
}