body {
    background-color: #81BED9;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #D4D981;
    width: 50%;
    height: 50px;
    border-radius: 10px;
}

.starting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: #D98196;
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

#button {
    margin-top: 50px;
    height: 50px;
    width: 100px;
    font-size: 15px;
}

.questions {
    text-align: center;
}

.answers {
    border-radius: 0px;
    font-size: 20px;
    background-color: #FEFEFE;
    margin: 75px 40px 40px 0px;
    padding: 10px;
}